{% extends 'base.html' %}
{% block title %}
  Данные платежа {{ payment.id }}
{% endblock %}
{% block content %}
<div class="container py-5"> 
  <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата платежа: {{ payment.payment_date|date:"d E Y" }}
          </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        {{ payment.description }}
      </p>
    </article>
  </div>
</div> 
{% endblock %}