{% extends 'base.html' %}
{% block title %}
  Данные платежа {{ payment.id }}
{% endblock %}
{% block content %}
<div class="container py-5"> 
  <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата платежа: {{ payment.payment_date|date:"d E Y" }}
          </li>
          <li class="list-group-item">
            Сумма: {{ payment.sum }}
          </li>
          <li class="list-group-item">
            Валюта: {{ payment.currency }}
          </li>
          <li class="list-group-item">
            Тип платежа: {{ payment.payment_type }}
          </li>
          <li class="list-group-item">
            Кто: {{ payment.person }}
          </li>
          <li class="list-group-item">
            Вид оплаты: {{ payment.currency_type }}
          </li>
          <li class="list-group-item">
            Фактический: {{ payment.FactOrPlanned }}
          </li>
          <li class="list-group-item">
            Учитывать в расчетах: {{ payment.TakeIntoReports }}
          </li>
          <li class="list-group-item">
            Описание: {{ payment.description }}
          </li>
          <li class="list-group-item">
            Дата записи: {{ payment.creation_date }}
          </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <a class="btn btn-primary" href={% url 'payments:payment_edit' payment.id %}>
        Редактировать запись
      </a>
    </article>
  </div>
</div> 
{% endblock %}